@media screen and (max-width:400px){
    
    .someInfo1{
        display:none;
    }
}
@media screen and (max-width:767px){
    .mainHeader{
        font-size:3vw;
        top:50px;
        left:10px;
    }
}