.mainHeader{
    position:absolute;
    top:100px;
    left:50px;
    z-index:9999;
    font-family: 'Merriweather', serif;
    font-size:2.8em;
    width:40%;

}
.mainTxt{
    font-family: 'PT Sans Caption', sans-serif;
}
#menu{
    z-index:10000;
}
#aboutRev{
    margin-top:30px;
}
p {
    font-family:'PT Sans Caption', sans-serif;
    font-size:1.2em;
}
.someInfo1 {
    background-image: url('/pics/19809-NSARH7.jpg');
    background-repeat:no-repeat;
}
.glyphs{
   width:64px;
   height:64px;

}

.icon{
  width:128px;
  height:128px;
  cursor:pointer;
  fill: white;
}

.heart-icon rect{
  clip-path:url('#heart-path');
}

.svgPutHere{
    height:300px;
    object-position:center;
}

